<% content_for(:title) do %>
  <%= @cocktail.name %> - new dose
<% end %>

<h1>Add your dose for <%= @cocktail.name %></h1>

<p>Please fill the following fields</p>

<% ingredients = Ingredient.all %>


<%= bootstrap_form_for([@cocktail, @dose]) do | f | %>
  <% if @dose.errors.any? %>
    <div class="error_explanation">
      <ul>
        <% @dose.errors.full_messages.each do | message | %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Description:  <%= f.text_field :description %><br>
  Ingredient: <%= f.select(:ingredient_id, ingredients.map { | ingredient | [ingredient.name, ingredient.id] }, include_blank: true) %><br>
  <%= f.submit %>
 <% end %>








<!-- Comment gérer l'ingredient_id? -->